@use '../sass-mq/mq';

body > header {

  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;
  .top-content {
    max-width: var(--theJdrSize);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  box-shadow: 0 var(--space-1) var(--primary),
  0 var(--space-2) var(--space-1) var(--darken-3);
  background: var(--primary);
  color: var(--primary-txt);

  .logo img {
    height: calc(var(--toolbar-height) - (2 * var(--space-2)));
    max-width: 180px;
  }

  label {
    display: none;
    opacity: 0.5;
    padding: .1em;
    border: var(--space-2) solid transparent; // Extending the hit area
    outline-offset: var(--space-2);

    .icon {
      --size: 1.5rem;
      height: var(--size, 1.5rem);
      width: var(--size, 1.5rem);
    }

    .icon-menu {
      display: block;
    }

    .icon-close {
      display: none;
    }

    &:hover, &:focus {
      opacity: 1;
      outline: thin dotted currentColor;
    }
  }

  input[type=checkbox]:checked ~ label {
    .icon-menu {
      display: none;
    }

    .icon-close {
      display: block;
    }
  }

  nav {
    display: flex;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
    }

    li {
      position: relative;
      opacity: .9;
      transition: all var(--animation);
      border-bottom: thin solid transparent;
      border-radius: 5%;
      list-style: none;

      &.active {
        opacity: 1;
        border-bottom-color: currentColor;
      }

      &.has-children > a::after {
        content: "▼";
        margin-left: 5px;
        font-size: 0.8em;
      }

      &:hover .submenu {
        display: block;
      }
    }

    a {
      display: block;
      // text-transform: uppercase;
      padding: 0 var(--space-3);
      text-decoration: none;
      line-height: calc(var(--toolbar-height) - (4 * var(--space-2)));;
      color: inherit;
      font-weight: 300;
      font-size: 1.1rem;
      &:focus, &:hover {
        text-shadow: var(--extruded-dark);
        opacity: 0.6;
      }
    }

    .submenu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: var(--primary);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      list-style: none;
      padding: 0;
      margin: 0;
      min-width: 200px;
      white-space: nowrap;

      li {
        // padding: 8px 16px;
        border: none;
        width: 100%;
        &:hover {
          background: var(--lighten-2);
          a {
            color: inherit;
            text-shadow: none;
            opacity: 1;
          }
        }    
        a {
          color: inherit;
        }
      }
    }

    .languages {
      a.lang {
        color: transparent;
        max-width: 2em;
        height: 2em;
        overflow: hidden;

        &::before {
          color: initial;
        }

        &.lang-fr::before {
          content: '🇫🇷';
        }

        &.lang-gb::before {
          content: '🇬🇧';
        }
      }

      a.active {
        display: none;
      }
    }

  }
}

@include mq.mq($until: lg) {
  body > header {
    flex-wrap: wrap;

    label {
      display: block;
    }

    nav {
      display: none;
      width: 100%;
      padding: 0 1em;
      background: var(--primary);
      flex-direction: column;
      justify-content: flex-start;

      ul {
        flex-direction: column;
      }

      a {
        padding: var(--space-2) 0;
        width: 100%;

        &.active {
          border-bottom-width: thin;
          border-bottom-color: var(--lighten-2);
        }

        &:focus, &:hover {
          background: var(--darken-1);
        }
      }

      li {
        &:hover .submenu {
          display: none;
        }
      }

      .submenu {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: none;
        background: transparent;
        display: none; // hide by default
        
        li {
          padding-left: var(--space-4);  // indent submenus
          
          a {
            color: inherit;
            padding: var(--space-2) 0;
          }
        }
      }

      .has-children {
        position: relative;

        > a::after {
          float: right;
          margin-top: var(--space-2);
          transition: transform 0.3s ease;
        }

        &.active > a::after {
          transform: rotate(180deg);
        }
        
        &.active .submenu {
          display: block;
        }
      }
    }

    input[type=checkbox]:checked ~ nav {
      display: block;
    }
  }
}