@use '../sass-mq/mq';

.page.code-of-conduct {
  .content {
    p {
      margin-left: 0;
      text-align: justify;
    }

    ul {
      margin-left: 2rem;

      li {
        line-height: 1.25;
      }
    }
  }
}

@include mq.mq($until: xl) {
  .page.code-of-conduct {
    .content {
      padding: 0 .5em;
    }
  }
}